-- Add new boolean columns for Task, List, and Idea types
ALTER TABLE notes ADD COLUMN IF NOT EXISTS isTask BOOLEAN DEFAULT FALSE;
ALTER TABLE notes ADD COLUMN IF NOT EXISTS isList BOOLEAN DEFAULT FALSE;
ALTER TABLE notes ADD COLUMN IF NOT EXISTS isIdea BOOLEAN DEFAULT FALSE;
